<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{product.name}}">
  <ion-content has-header="true" padding="true">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <h3>Price: ${{product.price}}</h3><span class="badge" ng-show="isIncluded">This product is already in your cart</span>
    <button class="button button-block ion-plus button-positive" ng-click="addToCart()" ng-disabled="isIncluded">
      Add to cart
    </button>
  </ion-content>
</ion-view>
